@use 'includes/_base';
@use 'includes/_embedded';
@use 'includes/_githubcorner';



.reveal {
	opacity: 0;
	transition: opacity 0.5s ease-in;
}

.reveal.ready {
	opacity: 1;
}

.demoblock {
	background: var(--code-full-bg);
	border-radius: 0.5rem;
	padding: 0.5em;
	ul.menu li {
		margin: 0;
	}
	ul.menu.tocstyle {
		width: 97%;
	}
}
